body {
  text-align: center;
}

#stl-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: solid 1px grey;
  margin-bottom: 30px;
}

h5 {
  padding-left: 50px;
}

h5,
#volume-output,
ul {
  display: inline-block;
}

ul {
  list-style-type: none;
}